<%- include('partials/header') -%>
  <div class="container-fluid">
    <div class="row justify-content-center mt-5">
      <div class="text-center">
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <a href="/profile" class="col-3 btn btn-primary">Add Someone's Birthday</a>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        <br><br><br><br>
        <!-- <h2 <strong><%= new Date() %></strong></h2> -->
        <!-- formatted date -->
        <% let today = new Date(); %>
        <% let todayFormatted = today.toLocaleDateString("en-US") %>
        <h2><strong"><%= todayFormatted %></strong></h2>

        <h1 class="logo"><strong>Upcoming Birthdays</strong></h1>
  
        <ul class="row list-unstyled">
          <h3 class="logo"><strong>Birthdays Today</strong></h3>
            <% for(var i=0; i<posts.length; i++) {%>
              <!-- the code below shows all my birthdays -->
              <!-- <h4><strong><%= posts[i].name %></strong></h4> --> 
              <!-- <h4><%= posts[i].birthday %></h4> -->
             
              <!-- This is where a conditional will go to only display today's birthdays, if posts.birthday === today's date....else something like "no birthdays today"-->
              <li class="justify-content-center">
                  <% let todayDay = today.getDate(); %>
                  <% let todayMonth = today.getMonth(); %>
                  <% let birthday = posts[i].birthday; %>
                  <% let birthdayDay = birthday.getDate(); %>
                  <% let birthdayMonth = birthday.getMonth(); %>

                  <% if(todayDay == birthdayDay && todayMonth == birthdayMonth) { %>
                    <h5><%= posts[i].name %>!</h5>
                 <% }  %>
              </li>
            <% } %>

          <h3 class="logo mt-3"><strong>Birthdays Tomorrow</strong></h3>
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="justify-content-center">
                <% let todayDay = today.getDate(); %>
                <% let todayMonth = today.getMonth(); %>
                <% let birthday = posts[i].birthday; %>
                <% let birthdayDay = birthday.getDate(); %>
                <% let birthdayMonth = birthday.getMonth(); %>

                <% if(todayDay == birthdayDay-1 && todayMonth == birthdayMonth) { %>
                  <h5><%= posts[i].name %></h5>
               <% }  %>
            </li>
          <% } %>

          <h3 class="logo"><strong>Birthdays Next Week</strong></h3>
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="justify-content-center">
                <% let todayDay = today.getDate(); %>
                <% let todayMonth = today.getMonth(); %>
                <% let birthday = posts[i].birthday; %>
                <% let birthdayDay = birthday.getDate(); %>
                <% let birthdayMonth = birthday.getMonth(); %>

                <% if(todayMonth == birthdayMonth && birthdayDay > todayDay + 1 && birthdayDay <= todayDay +7) { %>
                  <h5><%= posts[i].name %></h5>
               <% }  %>
            </li>
          <% } %>

          <h3 class="logo"><strong>Birthdays Coming Soon (within 30 days)</strong></h3>
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="justify-content-center">
                <% let todayDay = today.getDate(); %>
                <% let todayMonth = today.getMonth(); %>
                <% let birthday = posts[i].birthday; %>
                <% let birthdayDay = birthday.getDate(); %>
                <% let birthdayMonth = birthday.getMonth(); %>

                <% if(todayMonth == birthdayMonth && birthdayDay > todayDay + 7 && birthdayDay <= todayDay + 30) { %>
                  <h5><%= posts[i].name %></h5>
               <% }  %>
            </li>
          <% } %>

        </ul>
      </div>
    </div>
  </div>  
<%- include('partials/footer') -%>