<%- include('partials/header') -%>
  <div class="container-fluid">
    <div class="row justify-content-center mt-5">
      <div class="text-center">
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <a href="/profile" class="col-3 btn btn-primary">Add Someone's Birthday</a>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        <br><br><br><br>
        <!-- <h2 <strong><%= new Date() %></strong></h2> -->
        <!-- formatted date -->
        <% let today = dayjs().format('MMMM D, YYYY'); %>
        <h2><strong"><%= today %></strong></h2>

        <h1 class="logo"><strong>Upcoming Birthdays</strong></h1>
  
        <ul class="row list-unstyled">
          <h3 class="logo"><strong>Birthdays Today</strong></h3>
            <% for(var i=0; i<posts.length; i++) {%>
              <li class="justify-content-center">
                <!-- Determine whether a birthdayPerson's birthday is today -->
                <% let birthday = dayjs.utc(posts[i].birthday) %>
                <% if(birthday.dayOfYear() == dayjs().dayOfYear()) { %>
                  <h5><%= posts[i].name %>, <%= birthday.format('MMM D, YYYY') %> (<%= Math.floor(dayjs.duration(dayjs().diff(birthday)).asYears()) %> Years Old)</h5>
                <% }  %>
              </li>
            <% } %>

          <h3 class="logo mt-3"><strong>Birthdays Tomorrow</strong></h3>
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="justify-content-center">
                <!-- Determine whether a birthdayPerson's birthday is tomorrow -->
                <% let birthday = dayjs.utc(posts[i].birthday) %>
                <% if(birthday.dayOfYear() - dayjs().dayOfYear() == 1) { %>
                  <h5><%= posts[i].name %>, <%= birthday.format('MMM D, YYYY') %> (<%= Math.floor(dayjs.duration(dayjs().diff(birthday)).asYears()) %> Years Old)</h5>
                <% }  %>
            </li>
          <% } %>

          <h3 class="logo"><strong>Birthdays Coming Up This Week</strong></h3>
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="justify-content-center">
              <!-- Determine whether a birthdayPerson's birthday is within the next 7 days -->
              <% let birthday = dayjs.utc(posts[i].birthday) %>
              <% if(birthday.dayOfYear() - dayjs().dayOfYear() > 1 && birthday.dayOfYear() - dayjs().dayOfYear() <= 7) { %>
                <h5><%= posts[i].name %>, <%= birthday.format('MMM D, YYYY') %> (<%= Math.floor(dayjs.duration(dayjs().diff(birthday)).asYears()) %> Years Old)</h5>
              <% }  %>
          </li>
          <% } %>

          <h3 class="logo"><strong>Birthdays Coming Up Within 30 days)</strong></h3>
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="justify-content-center">
              <!-- Determine whether a birthdayPerson's birthday is within the next 30 days -->
              <% let birthday = dayjs.utc(posts[i].birthday) %>
              <% if(birthday.dayOfYear() - dayjs().dayOfYear() > 7 && birthday.dayOfYear() - dayjs().dayOfYear() <= 31) { %>
                <h5><%= posts[i].name %>, <%= birthday.format('MMM D, YYYY') %> (<%= Math.floor(dayjs.duration(dayjs().diff(birthday)).asYears()) %> Years Old)</h5>
              <% }  %>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>  
<%- include('partials/footer') -%>