<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>             
              <a href="/feed" class="btn btn-primary">See Upcoming Birthdays</a>
              <a href="/logout" class="btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a birthday person</h2>
            <form action="/post/createPost"  method="POST">
              <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="mb-3">
                <label for="relation" class="form-label">Relation</label>
                <textarea class="form-control" id="relation" name="relation"></textarea>
              </div>
              <div class="mb-3">
                <label for="date" class="form-label">Birthday</label>
                <input type="date" class="form-control" id="birthday" name="birthday">
              </div>
              <!-- included gift idea form 
              <div class="mb-3">
                <label for="gift-ideas" class="form-label">Gift ideas</label>
                <textarea class="form-control" id="gift-ideas" name="gift-ideas"></textarea>
              </div>-->
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(let i=0; i<posts.length; i++) {%>
          <li class="justify-content-between mst-5">
            <h3><%= posts[i].name %> - <%= dayjs.utc(posts[i].birthday).format('MMM D, YYYY') %></h3>
            <!-- Edit Button -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#form">
              Edit
            </button>

            <!-- Edit Modal -->
            <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="formLabel">Make Changes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="/post/editPost/<%= posts[i]._id %>?_method=PUT"  method="POST">
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="name">Edit Name</label>
                        <input type="name" class="form-control" id="name" name="name" placeholder="Enter new name here...or don't.">
                      </div>
                      <div class="form-group">
                        <label for="date">Edit Birthday</label>
                        <input type="date" class="form-control" id="birthday" name="birthday">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete">
                Delete
              </button>
              <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                          <h5 class="modal-title" id="modal-title">Confirm Deletion?</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body p-0">
                            <div class="card border-0 p-sm-3 p-2 justify-content-center">
                                <div class="card-body px-sm-4 mb-2 pt-1 pb-0"> 
                                    <form action="/post/deletePost/<%= posts[i]._id %>?_method=DELETE" method="POST">
                                      <div class="row justify-content-end no-gutters">
                                        <div class="col-auto">
                                          <button class="btn btn-primary" type="submit">Delete</button>
                                        </div>
                                      </div>
                                    </form>
                                </div>
                            </div>  
                        </div>
                      </div>
                  </div>
              </div>
          </li>
        <% } %>
        </ul>
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>